#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=eno16777736 --gateway=172.16.100.2 --ip=172.16.100.233 --nameserver=8.8.4.4,8.8.8.8 --netmask=255.255.255.0 --noipv6 --activate
network  --hostname=djgun.lan
# Root password
rootpw --iscrypted $6$rDXRu3CEC/jHYzMQ$8dVYBrTOlUiultVLShgtA3e/ERtMdDLp0LsZLSS81nbXPyahxpr5pHUNGOADF5tIPtR/YppNmePg9mUppjtoN/
# System timezone
timezone Asia/Baku --isUtc --nontp
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel 

%packages
@core

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end
